In [1]:
import pandas as pd

In [2]:
golden_globe_directors = pd.read_csv("golden_globe_df.csv")

In [3]:
academy_awards= pd.read_csv("academy_award_df.csv")

In [5]:
directors_all=pd.concat([academy_awards, golden_globe_directors], axis=0)

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [6]:
directors_all.head(100)

,Award,Category,Film,Nominee,Type,Winner,Year
0,Directing (Comedy Picture),NaN,Two Arabian Knights,Lewis Milestone,Academy Award,True,1928
1,Directing (Comedy Picture),NaN,Speedy,Ted Wilde,Academy Award,False,1928
2,Directing (Dramatic Picture),NaN,7th Heaven,Frank Borzage,Academy Award,True,1928
3,Directing (Dramatic Picture),NaN,Sorrell and Son,Herbert Brenon,Academy Award,False,1928
4,Directing (Dramatic Picture),NaN,The Crowd,King Vidor,Academy Award,False,1928
...,...,...,...,...,...,...,...
95,Directing,NaN,Johnny Belinda,Jean Negulesco,Academy Award,False,1948
96,Directing,NaN,The Search,Fred Zinnemann,Academy Award,False,1948
97,Directing,NaN,The Snake Pit,Anatole Litvak,Academy Award,False,1948
98,Directing,NaN,The Treasure of the Sierra Madre,John Huston,Academy Award,True,1948
99,Directing,NaN,All the King's Men,Robert Rossen,Academy Award,False,1949

In [7]:
directors_all.to_csv("all_directors.csv")

In [8]:
directors_all["Type"].value_counts()

Academy Award    454
Golden Globe     358
Name: Type, dtype: int64

In [9]:
directors_all=pd.read_excel("awards_all_clean.xlsx")

In [10]:
directors_all.head()

,Unnamed: 0,Year,Winner,Film,Nominee,Type
0,0,1928,True,Two Arabian Knights,Lewis Milestone,Academy Award
1,1,1928,False,Speedy,Ted Wilde,Academy Award
2,2,1928,True,7th Heaven,Frank Borzage,Academy Award
3,3,1928,False,Sorrell and Son,Herbert Brenon,Academy Award
4,4,1928,False,The Crowd,King Vidor,Academy Award

In [11]:
directors_all = directors_all.loc[:, ~directors_all.columns.str.contains('^Unnamed')]

In [12]:
directors_all.head()

   Year  Winner                 Film          Nominee           Type
0  1928    True  Two Arabian Knights  Lewis Milestone  Academy Award
1  1928   False               Speedy        Ted Wilde  Academy Award
2  1928    True           7th Heaven    Frank Borzage  Academy Award
3  1928   False      Sorrell and Son   Herbert Brenon  Academy Award
4  1928   False            The Crowd       King Vidor  Academy Award

In [13]:
directors_all["Nominee"].value_counts()

Steven Spielberg      19
William Wyler         17
Martin Scorsese       17
Fred Zinnemann        14
Billy Wilder          13
                      ..
Tim Burton             1
John Sturges           1
Tony Gilroy            1
M. Night Shyamalan     1
Frank Perry            1
Name: Nominee, Length: 298, dtype: int64

In [15]:
directors_all.loc[directors_all["Nominee"] == "Steven Spielberg"]

,Year,Winner,Film,Nominee,Type
240,1977,False,Close Encounters of the Third Kind,Steven Spielberg,Academy Award
262,1981,False,Raiders of the Lost Ark,Steven Spielberg,Academy Award
265,1982,False,E.T. The Extra-Terrestrial,Steven Spielberg,Academy Award
322,1993,True,Schindler's List,Steven Spielberg,Academy Award
345,1998,True,Saving Private Ryan,Steven Spielberg,Academy Award
383,2005,False,Munich,Steven Spielberg,Academy Award
417,2012,False,Lincoln,Steven Spielberg,Academy Award
583,1975,False,Jaws,Steven Spielberg,Golden Globe
592,1977,False,Close Encounters of the Third Kind,Steven Spielberg,Golden Globe
612,1981,False,Raiders of the Lost Ark,Steven Spielberg,Golden Globe
617,1982,False,E. T. The Extra-Terrestrial,Steven Spielberg,Golden Globe
635,1985,False,"Color Purple, The",Steven Spielberg,Golden Globe
673,1993,True,Schindler's List,Steven Spielberg,Golden Globe
695,1997,False,Amistad,Steven Spielberg,Golden Globe
699,1998,True,Saving Private Ryan,Steven Spielberg,Golden Globe
719,2001,False,A. I.: Artificial Intelligence,Steven Spielberg,Golden Globe
740,2005,False,Munich,Steven Spielberg,Golden Globe
774,2012,False,Lincoln,Steven Spielberg,Golden Globe
799,2017,False,The Post,Steven Spielberg,Golden Globe

In [16]:
(directors_all["Nominee"] == "Steven Spielberg").value_counts()

False    793
True      19
Name: Nominee, dtype: int64